POSTGRES_DATABASE_URL="postgresql://user:password@localhost:5432/project_timegate?sslmode=disable"
GOOSE_DBSTRING="host=localhost user=user password=password dbname=project_timegate sslmode=disable"
GOOSE_DRIVER=postgres
GOOSE_MIGRATION_DIR="./internal/database/migrations/"
REDIS_ADDR="localhost:6379"
REDIS_USR=""
REDIS_PWD=""
PORT=8888
JWT_SECRET="your-secret-key-here"
